.section-container {
  /* font-size: 20vw; */
  /* padding: 5rem; */
  font-weight: 700;
  color: rgb(245, 245, 245);
  word-break: break-all;
  height: 100vh;
  width: 100%;
  background-color: navy;
  display: grid;
  place-items: center;
}

.music-container {
  background: #555b6e;
  flex-grow: 0;
  transition: all 1600ms ease;
}

.dev-container {
  background: #89b0ae;
  flex-grow: 0;
  transition: all 1600ms ease;
}

.teach-container {
  background: #a6c5be;
  flex-grow: 0;
  transition: all 1600ms ease;
}

.mouse-entered {
  /* cursor: pointer; */
  animation: expand 1600ms 200ms ease;
  /* flex-basis: 250%; */
}
.mouse-leave {
  flex-basis: 280%;
  animation: shrink 1600ms 200ms ease;
}
.expand-section {
  flex-basis: 280%;
  transform: all 1600ms 200ms ease;
  background-color: rgb(61, 61, 61);
}

.shrink-section {
  flex-basis: 280%;
  animation: shrink 1600ms 200ms ease;
}

@keyframes expand {
  0% {
    flex-basis: 100%;
  }
  100% {
    flex-basis: 280%;
    background-color: rgb(61, 61, 61);
  }
}

@keyframes shrink {
  0% {
    flex-basis: 280%;
    background-color: rgb(61, 61, 61);
  }
  100% {
    flex-basis: 100%;
    background-color: initial;
  }
}

.section--title {
  position: absolute;
  font-size: 5vw;
  will-change: translate, scale;
  transition: all 2.2s ease;
  /* opacity: 1; */
  z-index: 100;
  border-radius: 10px;
  padding: 0.2rem 2.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.title-move {
  transform: translate(-20vw, -39vh) scale(60%);
  background-color: rgba(197, 197, 197, 0.651);
  color: rgb(61, 61, 61);
}

@media screen and (prefers-reduced-motion: reduce) {
}
